<div class="container-fluid">
  <h1><%= @video.title %></h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_video_path(@video) %>
  <% end %>
</div>
