<footer class="container-fluid py-5 px-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>about aws + rails</h5>
      <p class="text-small text-muted">
        AWS Rails is a new tutorial series on the BrainTrust Youtube Channel.  Some videos may be more Amazon specific, while other are more Rails focused, but the goal will be to bridge the gap between Amazon Web Services and Ruby on Rails where possible to demonstrate how to use various services to move your Rails application off your local machine and into the cloud.
      </p>
    </div>
    <div class="col-6 col-md">
      <h5 class="px-5">links</h5>
      <ul class="list-unstyled text-small px-5">
        <li><a class="text-muted" href="http://brain-trust.io" target="_blank">©2020 BrainTrust Digital</a></li>
        <li><a class="text-muted" href="https://www.youtube.com/channel/UCg7E-eNJ_am52NzdPj0A5Nw?view_as=subscriber" target="_blank">YouTube Channel</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
