<header id="hero" class="position-relative overflow-hidden text-center">
  <div class="col-md-5 mx-auto my-5">
    <%= image_tag 'aws-rails-hero-blank.png', class: 'hero-img img-fluid' %>
    <div id="hero-text">
      <h1 class="display-1 font-weight-normal">aws + rails</h1>
      <p class="lead font-weight-normal col-9 mx-auto">Tutorials focused on specific ways to utilize Amazon Web Services in your Ruby on Rails applications</p>
      <%= render 'shared/nav' %>
    </div>
  </div>
</header>
