$pink: #e15680;
$orange: #f6b35a;

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bg-blue {
  background-color: #353846;
}

#callouts {
  .col-md-6 {
    max-width: calc(50% - 0.5em);
  }

  .bg-light {
    margin-right: .5em;
    background: #F4F4F4 !important;
  }

  .bg-dark {
    margin-left: .5em;
  }
}

.bg-dark {
  #contact-form {
    .lead {
      padding-bottom: 30px !important;
    }
  }

  .form-label-group {
    background: linear-gradient(to right, $pink 0%, $orange 100%);
    padding-bottom: 5px;

    & > label {
      background: transparent;
      color: #FFFFFF;
    }

    & > input,
    & > textarea{
      background-color: #343a40;
      border: none;
      border-radius: 0;
      color: #FFFFFF;
    }

  }

  .form-control:focus {
    box-shadow: none;
  }

  .btn-gradient {
    background: linear-gradient(to right, $pink 0%, $orange 100%);
    border-radius: 5px;
    padding: 5px;
    margin: 30px 0;

    .btn-transparent {
      background-color: #343a40;
      color: #FFFFFF;
      width: 100%;
    }
  }
}

.yellow-color {
  color: #F19D3A;
}

.red-color {
  color: #CA7676;
}

a {
  color: #585e6d;
}

a:hover {
  color: #353846;
}

.video-wrap {
  padding-bottom: 25px;
}

#hero {
  background-image: linear-gradient(120deg, $pink 0%, $orange 100%);
  color: rgba(255,255,255,.60);

  &::after {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #hero-text {
    margin-top: -150px;
    position: relative;
    z-index: 3;

    a {
      color: rgba(255,255,255,.80);
    }
  }
}
